/* .App
{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
} */

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: #062168;
}
.nav-ul li{
  display:  inline-block;
  padding: 10px;
}
.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.carosul{
  height: 380px;
}

.logo {
  width: 130px;
  height: 45px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

.nav-right{
  text-align: right;
}


.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  width: 225px;
  border: 1px solid #062168;
  padding: 5px;
}

.product-list ul{
  margin: 0;
}

